body {
    background-color: rgb(252, 213, 241);
    h1, h2, h3 {
        text-align: center;
    }
    #wrapper {
        width: 80%;
        margin: auto;
        background-color: rgb(255, 165, 224);
        box-shadow: 5px 5px rgb(165, 79, 135);
    }
    h1 {
        color:rgb(78, 28, 97)
    }
    div {
        width: 90%;
        margin: auto;
    }
    .itembox {
        border: 2px solid;
        border-radius: 20px;
        box-shadow: 5px 5px;
        background-color: rgb(222, 179, 255);
        color: rgb(78, 28, 97);
        padding: 10px
    }
    .favorite {
        border: 2px dotted;
        border-radius: 20px;
        box-shadow: 5px 5px;
        background-color: rgb(78, 28, 97);
        color: rgb(222, 179, 255);
        padding: 10px
    }
    ol li {
        list-style-type: lower-roman;
    }
    ul li.int {
        list-style-type: circle;
    }
    ul.navbar {
        list-style-type: none;
        overflow: hidden;
    }
    li.nav {
        float: left;
    }
    li a {
        display: block;
        padding: 10px;
        background-color:rgb(38, 7, 50);
        color: rgb(222, 179, 255);
        text-decoration: none;
    }
    li a:hover {
        background-color:rgb(78, 28, 97);
        color: white;
    }

}