body {
    background-image: url("pinkbg.jpg");
    background-size: cover;

    #borderimg {
        background-color: rgb(255, 108, 164);
        color: aliceblue;
    }
    #wrapper {
        width: 60%;
        margin: auto;
        margin-top: 30px;
    }
    ul {
        list-style-image: url(caticon.svg);
    }
    .specialborder {
        border-width: 10px;
        border-style: solid;
        border-image: url('border2.png') 30 round;
    }
}
